{% extends "webapp/base.html" %}
{% block title %}ManageFlow::Login{% endblock %}
{% block main %}
<main>
    <div class="login-form">
        <form action="{% url 'webapp:boards' %}" method="post">{% csrf_token %}
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required">
            </div>
            {% if form_errors %}
            <p class=" label label-danger">
                Your username and password didn't match. Please try again.
            </p>
            {% endif %}
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Log in</button>
            </div>
            <div class="clearfix">
                <label class="float-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="{% url 'webapp:forgot' %}" class="float-right">Forgot Password?</a>
            </div>
        </form>
        <p class="text-center"><a href="{% url 'webapp:signup' %}">Signup</a></p>
    </div>
</main>
{% endblock %}